.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.footer > div {
  flex: 2;
}
.footer > div:nth-child(2) {
  align-self: center;
  flex: 1;
  text-align: right;
}

.footer a {
  box-shadow: none;
  margin: 0;
  text-decoration: none;
}

.footer img {
  margin: 0;
}
